{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="POST" class="login-form" action="{% url "login" %}">
        {% csrf_token %}

        <p class="page-post-title">
            Авторизация
        </p>

        {% if form.non_field_errors %}
            <div class="error">{{form.non_field_errors}}</div>
        {% endif %}

        <div class="form-elem">
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" name="username" id="id_username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" placeholder="Введите имя пользователя" required>
        </div>

        <div class="form-elem">
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="id_password" placeholder="Введите пароль" required>
        </div>
        
        <button type="submit" class="save-btn" style="margin-top: 10px;">Войти</button>
        
        <div class="cont">
            Нет аккаунта? <a href="{% url "registration" %}">Зарегистрироваться</a>
        </div>
    </form>
{% endblock  %}